/* Root color definitions and dark mode adjustments */
:root {
    --primary-color: #1c97a5;
    --background-color-secondary: #e9ecef;
    --text-color-secondary: #848484;
    --wtob: #fff;
    --btow: #000;
    --w2tob2: #e2e8f0;
    --w3tob3: #e9ecef;
}

@media(prefers-color-scheme: dark) {
    :root {
        --text-color-secondary: #aaaaaa;
        --wtob: #000;
        --btow: #fff;
        --w2tob2: #242424;
        --w3tob3: #808080;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Basic global settings */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jakarta", sans-serif;
    background-color: var(--w2tob2);
}

.main-container {
    padding: 0 15px;
    margin: 0 auto;
}

.image>img {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

ul {
    list-style-type: none;
}

.page-button {
    background-color: var(--wtob);
    color: var(--primary-color);
    padding: 5px;
    margin: 2px;
    border: 1.5px solid var(--primary-color);
    border-radius: 2px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.page-button:hover {
    transform: translateY(-2px);
}

.title-box {
    color: var(--btow);
    width: 100%;
    margin: 50px auto;
    text-align: center;
    border: 1px solid grey;
    cursor: default;
}

.page-table {
    color: var(--btow);
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.page-table th,
.page-table td {
    width: calc(100% / 4);
    padding: 15px;
    background-color: var(--wtob);
}

.page-table {
    width: 100%;
}

.page-table th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Header */
#Header {
    width: 100%;
}

.header-one,
.header-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.header-one {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    cursor: default;
}

.header-two {
    background-color: var(--w2tob2);
    height: 60px;
}

.header-two>.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}


.mm {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.mm>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-two>.main-container>.image {
    /* position: relative; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.header-two>.main-container>.image::after {
    content: "Go To profile ";
    position: absolute;
    padding: 10px;
    background-color: var(--wtob);
    border: solid grey 1px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    top: 50px;
    left: 75px;
    color: var(--btow);
}

.header-two>.main-container>.image:hover::after {
    opacity: 1;
    visibility: visible;
}

.go-to-options {
    display: flex;
    margin-right: 20px;
    height: 100%;
}

.go-to-options>span {
    padding: 10px 20px 0px;
    margin-right: 20px;
    transition: 0.2s;
    position: relative;
}

.go-to-options>span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 0px;
    background-color: var(--primary-color);
    transition: 0.4s;
    border-radius: 2px;
}

.go-to-options>span:hover::before {
    width: 100%;
}

.go-to-options>span>a {
    color: var(--btow);
    text-decoration: none;
}

.go-to-options>span:hover>a {
    color: var(--primary-color)
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Home */
#Home {
    height: 550px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

#Home>.main-container {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://wallpaperaccess.com/full/5600437.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.landing-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.landing-image {
    width: 50%;
}

.landing-image>.image {
    width: 600px;
    filter: brightness(0.85);
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Start doctors section */
.doctors {
    width: 100%;
    background-color: var(--w2tob2);
}

.doctors-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doctors-box {
    width: 330px;
    margin: 20px 25px;
    padding: 20px;
    position: relative;
    background-color: var(--wtob);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: default;
}

.doctors-box .image {
    position: absolute;
    top: -50px;
    right: -40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.doctors-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doctors-box h3 {
    padding-bottom: 10px;
    color: var(--btow);
    text-align: center;
    /* Center align text */
    width: 100%;
    /* Ensure heading takes full width */
    word-wrap: break-word;
    /* Ensure long words break to the next line */
}

.doctors-box span i {
    color: #ffc107;
    padding: 15px 5px 15px 0;
}

.doctors-box p {
    color: darkgrey;
    text-align: center;
    /* Center align text */
    word-wrap: break-word;
    /* Ensure long words break to the next line */
    width: 100%;
    /* Ensure paragraph takes full width */
    box-sizing: border-box;
    /* Include padding in width calculations */
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* Start Services Section */
.services {
    background-color: var(--wtob);
    position: relative;
    margin-top: 120px;
    padding-top: 1px;
    padding-bottom: 100px;
}

.services .title {
    margin: 70px auto;
}

.srv-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    justify-items: center;
}

.srv-card {
    position: relative;
    width: 350px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.srv-card>.srv-box {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.srv-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--w2tob2);
    transition: .3s;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.srv-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    height: 5px;
    width: 0;
    background-color: var(--primary-color);
    transition: .3s;
}

.srv-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 5px;
    width: 0;
    background-color: var(--primary-color);
    transition: .3s;
}

.srv-box:hover::before,
.srv-box:hover::after {
    width: 50%;
}

.srv-box>i {
    color: darkgrey;
    padding: 50px 0 20px;
    font-size: 80px;
}

.srv-box>h3 {
    margin-bottom: 30px;
    color: var(--primary-color);
    font-size: 25px;
    padding: 20px;
}

.srv-box>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #808080;
    overflow: hidden;
}

.srv-box>div>.number {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    color: white;

}

.srv-box>div>.number>p {
    position: relative;
}

.srv-box>div>.number>button {
    position: relative;
}

.srv-box>div>.number::before {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 30%;
    height: 100%;
    top: 0;
    left: -20px;
    transform: skewX(-30deg);
}

.srv-box>div>p {
    padding: 20px;
    color: var(--mainColor);
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.doc-DR-box {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: #000;
}

.doc-DR-box>form {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 400px;
    box-shadow: var(--btow);
    background-color: var(--wtob);
    color: var(--btow);
    padding: 10px;
}

.doc-DR-box>form>div {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.doc-DR-box>form>div:last-child {
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Help Request Section */
.appointment-container {
    color: var(--btow);
    background-color: var(--w2tob2);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    transform: rotateY(180deg);
    top: 0;
    backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background: gainsboro;
}

.form-group>button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.form-group button:hover {
    background-color: #1c636b;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Help Request Section */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg);
    bottom: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: var(--w2tob2);
}

.input-container textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background: gainsboro;
    color: black;
}

span>button,
.input-container button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #1c636b;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
.hidden {
    display: none;
}

#downloadButton {
    position: relative;
    right: -70px;
}

/* End Services Section */
/*Start reviews section*/
.reviews-container {
    position: relative;
    margin-top: 10px;
    color: var(--btow);
}

.review-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-author {
    display: flex;
    align-items: center;
}


.review-name {
    font-weight: bold;
}

.review-rating .review-stars {
    color: #ffb400;
}

.review-content {
    font-size: 14px;
}

.review-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.review-form h3 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-flex;
}

.rating>input {
    display: none;
}

.rating>label:before {
    content: "\2605";
    color: #ccc;
    font-size: 20px;
    margin: 0 2px;
    cursor: pointer;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input:checked~label:before {
    color: #ffb400;
}



/*End of Reviews Section*/
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Footer Section */

footer>.main-container {
    margin-top: 30px;
    padding: 5px;
    border-top: solid var(--btow) 2px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

footer>.main-container>span {
    font-weight: bold;
    font-size: 20px;
    cursor: default;
}

footer>.main-container>div {
    font-size: 30px;
}

footer>.main-container>div>button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

footer>.main-container>div>button>i {
    padding-right: 30px;
}